 <!-- Footer -->

<footer>
<div class="row">
		
	
  <div class="large-12 columns">
    
    <div class="row" style="margin-top:3.87em;">
      <div class="large-3 columns">
			<strong>Make Contact</strong>
	        <ul>
	          <li><a href="#">Contact Us</a></li>
	          <li><a href="#">Locate Us</a></li>
	          <li><a href="{{site.baseurl}}{%post_url /pages/2013-07-12-events %}">Events</a></li>
	        </ul>
	      </div>
		 <div class="large-3 columns">
				<strong>Join</strong>
		        <ul>
		          <li><a href="{{site.baseurl}}{%post_url /pages/2013-07-21-membership %}">Joining</a></li>
		          <li><a href="#">Benefits</a></li>
		          <li><a href="#">Login</a></li>
		        </ul>
		      </div>
      <div class="large-3 columns">
		<strong>About</strong>
        <ul>
          <li><a href="{{site.baseurl}}{%post_url /about/2013-07-12-about %}">History</a></li>
          <li><a href="{{site.baseurl}}{%post_url /about/2013-07-12-president-welcome %}">President</a></li>
          <li><a href="{{site.baseurl}}{%post_url /about/2013-07-12-council %}">Current Council</a></li>
        </ul>
      </div>
	 <div class="large-3 columns">
		<strong>Stay in Touch</strong>
        <ul>
          <li><a href="http://www.linkedin.com/groups/Irish-Planning-Institute-3723889">LinkedIn</a></li>
          <li><a href="https://www.facebook.com/IrishPlanInst">Facebook</a></li>
          <li><a href="https://twitter.com/IrishPlanInst">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
	<div class="12 columns" style="margin-bottom:4em">
		<p class="text-center" style="margin-top:3em;">&copy;2013 The Irish Planning Institute<br /> <small>Great Strand Street, Dublin 1</small></p>
		
	</div>
</div>
</footer>