<div class="contain-to-grid">
	

<nav class="top-bar ">
  	<ul class="title-area">
	      <!-- Title Area -->
		<div class="hide-for-medium-up">
		<li class="name">
			<h1><a href="#">
	            Irish Planning Institute
	          </a>
			</h1>
	          
	        
	      </li>	
		</div>
	      
	      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	    </ul>
 
  <section class="top-bar-section ">
	
    <!-- Left Nav Section -->
	
    <ul class="left">
      	<li class="has-dropdown"><a href="#">Events</a>

	        <ul class="dropdown">
	          <li><a href="#">National Planning Awards</a>
	                  <li><a href="#">Planning Conference</a>
	                  <li><a href="#">Branches</a>
	        </ul>
	      </li>
      <li class="active"><a href="#">Membership and Careers</a></li>
      
      <li><a href="#">Education</a></li>
      
      
      
    </ul>
	<!--<div class="two columns">
			
	</div>
     INSERT IPI LOGO IN THE CENTRE OF THE PAGE BETWEEN BOTH OF THESE -->
    <!-- Right Nav Section -->
    <ul class="right">
               
                <li><a href="#">Blog</a></li>
				<li><a href="#">Latest News</a></li>
            	<li class="has-dropdown"><a href="#">Advice</a>
			        <ul class="dropdown">
			          <li><label>Dropdown Level 1 Label</label></li>
			          <li><a href="#" class="">Research</a></li>
			          <li><a href="#">Planning and Energy</a></li>
			          <li><a href="#">Professional Planning Advice</a></li>
			          <li class="divider"></li>
			          <li><label>Find a Planner</label></li>
			        </ul>
			      </li>
                <li><a href="#">Login</a></li>
    </ul>

<div class="hide-for-small">
	<a href="{{site.baseurl}}" id='logo'>
			<!--<img src="{{site.baseurl}}/img/IPI-logo.png">-->
		</a>
</div>	
  </section>
</nav>
</div>