
      	{% for post in site.categories.news %}
      		
      	<article>
		             <div class="row">
		               <div class="large-12 columns">
		                 </div>
						 <div class="large-3 columns"><img class="radius" src="http://placehold.it/320x240&text=Ad"></div><div class="large-9 columns">
							<h6 class="subheader"><small>Posted by Colin on {{ post.date | date: "%d %B %y" }}</small></h6>
							<h5><a href="{{ site.baseurl }}{{post.url}}">{{ post.title }}</a></h5>
						 </div>
		               
		             </div><hr>
		</article>
		
		{% endfor %}
      