{% include html_head.html %}
{% include main_nav.html %}

		
		<ul data-orbit>
		  <li>
		    <img src="http://placehold.it/1600x600&text=HeaderIMG1" />
		    <div class="orbit-caption">...</div>
		  </li>
		  <li>
		    <img src="http://placehold.it/1600x600&text=HeaderIMG2" />
		    <div class="orbit-caption">...</div>
		  </li>
		  <li>
		    <img src="http://placehold.it/1600x600&text=HeaderIMG3" />
		    <div class="orbit-caption">...</div>
		  </li>
		</ul>
		
		
		
	

<div class="row">
		<div class="large-12 columns">
			<h3>THE LATEST<a href="#" class="small alert button right radius">MORE</a></h3>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-4 columns">
					<div class="panel">
						<strong>IPI welcomes Planning Regulator Announcement</strong>
						<p>The Irish Planning Institute (IPI) has welcomed the announcement of a new Office of the Planning Regulator (OPR).</p>
						<hr />
						<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<strong>Corporate Plan Consultation Draft</strong>
						<p>The Institute is now inviting feedback on the consultation draft of the Irish Planning Institute’s first Corporate Plan which is to cover the period 2013-2017.</p>
						<hr />
						<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<strong>IPI National Planning Conference 2013</strong>
						<p>On the second day (Friday) of the Irish Planning Institute’s Annual Conference in Belfast delegates will hear of a number of successful examples of urban regeneration in the city.</p>
						<hr />
						<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
					</div>
				</div>			
		</div>
	</div>
	

<div class="row">
	<div class="large-12 columns">
		<div class="large-5 columns">
			<h3 class="home" style="background: #BBDDE9;
			padding: 1em 0;
			margin-bottom: 0;
			color: #fff;">Whats Happening</h3>
			<div class="panel">
				
				<!-- Main Feed -->
			    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
			    

			      <!-- Feed Entry -->
			      <div class="row">
			        <div class="large-2 columns small-3">
			        	<div class="calendar_date">
							<span class="day">22</span>
							<span class="month">jun</span>
						</div>
			        </div>
			        <div class="large-10 columns">
			          <p><strong>National Planning Awards Closing Date</strong><br /> This year’s Energy Awards is a ten year celebration for inspired energy savers. It takes place in Dublin starting at 6PM.</p>
			        </div>
			      </div>
			      <!-- End Feed Entry -->
			      <hr />
				 <!-- Feed Entry -->
			      <div class="row">
			        <div class="large-2 columns small-3">
				<div class="calendar_date">
					<span class="day">13</span>
					<span class="month">NOV</span>
				</div>
				
				</div>
			        <div class="large-10 columns">
			          <p><strong>YPN “Things they don’t teach you in Planning School” Planning and Politics in Ireland</strong> <br /> The series returns with a topical debate styled on the iconic "Yes Minister?" TCUBE, Dublin 6.30PM</p>
			        </div>
			      </div>
			      <!-- End Feed Entry -->
			      <hr />
				  <div class="row">
				  	<div class="large-12 columns">
				  		<a href="#" class="button radius small">More Events</a>
				  	</div>
				  </div>
			</div>
		</div>
		<div class="large-7 columns">
			<h3 class="home" style="background: #518F9A;
			padding: 1em 0;
			margin-bottom: 0;
			color: #fff;">Current Research</h3>
			
			<div class="panel">
				<!-- Feed Entry -->
			      <div class="row">
			        <div class="large-12 columns"><img src="http://placehold.it/458x200&text=[img]" /></div>
			        <div class="large-12 columns">
			          <p>This is some great research. Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
					  	<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
			        </div>
			      </div>
			      <!-- End Feed Entry -->
			      
			</div>	
		</div>
	</div>
</div>
</div>	

{% include footer.html %}
{% include html_end.html %}

