{% include html_head.html %}
{% assign nav = 'left' %}
{% assign nav1 = 'right' %}
{% include main_nav.html %}

		
		<ul data-orbit data-orbit data-options="bullets:false;resume_on_mouseout:true;" class="home">
		  <li style="height:330px; background:url(http://farm6.staticflickr.com/5455/9151539046_e655389faf_h_d.jpg) center; bakcgroun-size:cover;">
			
		    <div class="row">
				<div class="large-9 columns" style="margin-top:70px; color:#fff;background:rgba(81, 143, 154, .5);padding:20px;">
					<a href="#blah">
					<h2 style="margin-bottom:0;color:#fff;">Representing professional planners in Ireland</h2>
					<p style="color:#fff;margin-bottom:0;">The independent professional body representing the majority of professional planners engaged in physical, spatial and environmental planning in Ireland.</p>
					
					</a>
				</div>
				
			</div>
		    
		  </li>
		  <li style="height:330px; background:url(http://farm8.staticflickr.com/7103/6976469754_46291f77b1_h_d.jpg) center; bakcgroun-size:cover;">
			<div class="row">
				<div class="large-9 columns" style="margin-top:70px; color:#fff;background:rgba(81, 143, 154, .5);padding:20px;">
					<a href="#blah">
					<h2 style="margin-bottom:0;color:#fff;">National Planning Awards 2013 - 2014</h2>
					<p style="color:#fff;margin-bottom:0;">Get your entries in now</p>
					<p style="color:#fff;margin-bottom:0;text-decoration:underline;">Enter Now</p>
					</a>
				</div>
			</div>
		    
		   
		  </li>
		  <li style="height:330px; background:url(http://farm8.staticflickr.com/7390/9149309875_6af4c82078_h_d.jpg) center; bakcgroun-size:cover;">
		    <div class="row">
				<div class="large-9 columns" style="margin-top:70px; color:#fff;background:rgba(81, 143, 154, .5);padding:20px;">
					<a href="#blah">
					<h2 style="margin-bottom:0;color:#fff;">National Planning Awards 2013 - 2014</h2>
					<p style="color:#fff;margin-bottom:0;">Get your entries in now</p>
					<p style="color:#fff;margin-bottom:0;text-decoration:underline;">Enter Now</p>
					</a>
				</div>
			</div>
		  </li>
		</ul>
		
		
		
	

<div class="row" style="margin-top:30px;">
		<div class="large-12 columns">
			<h3>THE LATEST<a href="{{site.baseurl}}/news" class="tiny secondary button right radius">NEWS FEED</a></h3>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
			{% for post in site.categories.news limit:3 %}
			
				<div class="large-4 columns">
					<div class="panel">
						<strong>{{post.title}}</strong>
						<p>{{post.snippet}}</p>
						<hr />
						<ul class="inline-list">
				            <li>{{ post.date | date: "%d %b %Y" }}</li>
				            <li><a href="{{ site.baseurl }}{{post.url}}">MORE</a></li>
				        </ul>
					</div>
				</div>
			{% endfor %}
		<!--	<div class="row">
				<div class="large-4 columns">
					<div class="panel">
						<strong>IPI welcomes Planning Regulator Announcement</strong>
						<p>The Irish Planning Institute (IPI) has welcomed the announcement of a new Office of the Planning Regulator (OPR).</p>
						<hr />
						<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<strong>Corporate Plan Consultation Draft</strong>
						<p>The Institute is now inviting feedback on the consultation draft of the Irish Planning Institute’s first Corporate Plan which is to cover the period 2013-2017.</p>
						<hr />
						<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<strong>IPI National Planning Conference 2013</strong>
						<p>On the second day (Friday) of the Irish Planning Institute’s Annual Conference in Belfast delegates will hear of a number of successful examples of urban regeneration in the city.</p>
						<hr />
						<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
					</div>
				</div>	-->		
		</div>
	</div>
	

<div class="row">
	<div class="large-12 columns">
		<div class="large-5 columns">
			<h3 class="home" style="background: #BBDDE9;
			padding: 1em 0;
			margin-bottom: 0;
			color: #fff;">Whats Happening</h3>
			<div class="panel">
				
				<!-- Main Feed -->
			    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
			    
{% for post in site.categories.events limit:2 %}
			      <!-- Feed Entry -->
			      <div class="row">
			        <div class="large-2 columns small-3">
			        	<div class="calendar_date">
							<span class="day">{{ post.day | date: "%d" }}</span>
							<span class="month">{{ post.day | date: "%b" }}</span>
						</div>
			        </div>
			        <div class="large-10 columns">
					<a href="{{site.baseurl}}{{post.url}}">
			          <p><strong>{{post.title}}</strong><br /> {{post.excerpt}}</p>
			        </div>
					</a>
			      </div>
			      <!-- End Feed Entry -->
			      <hr />
			{% endfor %}
				 
				  <div class="row">
				  	<div class="large-12 columns">
				  		<a href="{{site.baseurl}}/events" class="button radius small">More Events</a>
				  	</div>
				  </div>
			</div>
		</div>
		<div class="large-7 columns">
			<h3 class="home" style="background: #518F9A;
			padding: 1em 0;
			margin-bottom: 0;
			color: #fff;">Current Research</h3>
			
			<div class="panel">
				<!-- Feed Entry -->
			      <div class="row">
			        <div class="large-12 columns"><img src="http://placehold.it/458x200&text=[img]" /></div>
			        <div class="large-12 columns">
			          <p>This is some great research. Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
					  	<ul class="inline-list">
				            <li>23 JUN 13</li>
				            <li><a href="">MORE</a></li>
				        </ul>
			        </div>
			      </div>
			      <!-- End Feed Entry -->
			      
			</div>	
		</div>
	</div>
</div>
</div>	

{% include footer.html %}
{% include html_end.html %}

