{% include html_head.html %}
{% assign nav = 'left' %}
{% assign nav1 = 'right' %}
{% include main_nav.html %}
<!-- Header -->
<div class="row">
  <div class="large-12 columns">
    <img src="http://placehold.it/1200x200&text=EventImage"><br><br>
  </div>
</div>

<!-- End Header -->
<div class="row">    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
		
		<div class="large-12 columns">

             <h4 class="home"	style="background: #0681C4;
				padding: 1em;
				margin-bottom: 1em;
				color: #fff;">IPI Events <a class="button radius secondary tiny right" href="#">Event Feed</a></h4>
			<dl class="sub-nav text-center">
			  
			  <dd class="active"><a href="#">All</a></dd>
			  <dd><a href="#">Active</a></dd>
			  <dd><a href="#">Pending</a></dd>
			  <dd><a href="#">Suspended</a></dd>
			</dl>
			<hr>
{% for post in site.categories.events  %}
<article>
             <div class="row">
               <div class="large-1  column">
                 <div class="calendar_date">
					<span class="day">{{ post.day | date: "%d" }}</span>
					<span class="month">{{ post.day | date: "%b" }}</span>
				</div>
               </div>

               <div class="large-6 columns">
                 <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
                 <h6 class="subheader show-for-small">Doors at 15:00</h6>
				 <p class="show-for-small">All nominations for the National Planning Awards must be emailed to planningawards@ipi.ie and must also be delivered in hard copy to arrive at the offices of the Irish Planning Institute by July 16th.</p>
               </div>
			   <div class="large-2 columns">
			   	<h5 class="subheader">{{post.location}}</h5>
			   </div>
				<div class="large-2 columns">
			   	<h5 class="subheader">{{post.price}}</h5>
			   </div>
             </div><hr>
</article>
{% endfor %}
<!--<article>
             <div class="row">
               <div class="large-1 column">
                 <div class="calendar_date">
					<span class="day">24</span>
					<span class="month">jun</span>
				</div>
               </div>

               <div class="large-6 columns">
                 <h5><a href="#">National Planning Conference 2013</a></h5>
                 <h6 class="subheader show-for-small">Doors at 15:00</h6>
				 <p class="show-for-small">All nominations for the National Planning Awards must be emailed to planningawards@ipi.ie and must also be delivered in hard copy to arrive at the offices of the Irish Planning Institute by July 16th.</p>
               </div>
			   <div class="large-2 columns">
			   	<h5 class="subheader">Dublin</h5>
			   </div>
				<div class="large-2 columns">
			   	<h5 class="subheader">Free</h5>
			   </div>
             </div><hr>
</article>
<article>
             <div class="row">
               <div class="large-1 column">
                 <div class="calendar_date">
					<span class="day">13</span>
					<span class="month">Jun</span>
				</div>
               </div>

               <div class="large-6 columns">
                 <h5><a href="#">YPN “Things they don’t teach you in Planning School” Planning and Politics in Ireland</a></h5>
                 <h6 class="subheader show-for-small">Doors at 15:00</h6>
				 <p class="show-for-small">All nominations for the National Planning Awards must be emailed to planningawards@ipi.ie and must also be delivered in hard copy to arrive at the offices of the Irish Planning Institute by July 16th.</p>
               </div>
			   <div class="large-2 columns">
			   	<h5 class="subheader">Dublin</h5>
			   </div>
				<div class="large-2 columns">
			   	<h5 class="subheader">Free</h5>
			   </div>
             </div><hr>
</article>
<article>
             <div class="row">
               <div class="large-1 column">
                 <div class="calendar_date">
					<span class="day">13</span>
					<span class="month">NOV</span>
				</div>
               </div>

               <div class="large-6 columns">
                 <h5><a href="#">“Change is Possible” Lessons from Cycling City Berlin</a></h5>
                 <h6 class="subheader show-for-small">Doors at 15:00</h6>
				 <p class="show-for-small">All nominations for the National Planning Awards must be emailed to planningawards@ipi.ie and must also be delivered in hard copy to arrive at the offices of the Irish Planning Institute by July 16th.</p>
               </div>
			<div class="large-2 columns">
			   	<h5 class="subheader">Dublin</h5>
			   </div>
				<div class="large-2 columns">
			   	<h5 class="subheader">Free</h5>
			   </div>
             </div><hr>
</article>
<article>
             <div class="row">
               <div class="large-1 column">
                 <div class="calendar_date">
					<span class="day">13</span>
					<span class="month">NOV</span>
				</div>
               </div>

               <div class="large-6 columns">
                 <h5><a href="#">ECTP Biennial of European Towns and Town Planners in Cascais, Lisbon, Portugal in September 2013</a></h5>
                 <h6 class="subheader show-for-small">Doors at 15:00</h6>
				 <p class="show-for-small">All nominations for the National Planning Awards must be emailed to planningawards@ipi.ie and must also be delivered in hard copy to arrive at the offices of the Irish Planning Institute by July 16th.</p>
               </div>
			<div class="large-2 columns">
			   	<h5 class="subheader">Dublin</h5>
			   </div>
				<div class="large-2 columns">
			   	<h5 class="subheader">Free</h5>
			   </div>
             </div><hr>
</article> -->
<div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul>
</div>
	</div>
</div>
		    <!-- Nav Sidebar -->
		    <!-- This is source ordered to be pulled to the left on larger screens -->
		    <div class="large-3 pull-9 columns">
		        <h3 class="home" style="background: #518F9A;
				padding: 1em 0;
				margin-bottom: 0;
				color: #fff;">Events</h3>
		      <ul class="side-nav">


		        <li><a href="#">Events Calendar</a></li>
		        <li><a href="#">National Planning Awards 2013</a></li>
		        <li><a href="#">National Planning Conference</a></li>
		        <li><a href="#">Autumn Planning Conference</a></li>
		        <li><a href="#">Submit Event</a></li>
		        <li><a href="#">Section 6</a></li>
		      </ul>

		      <p><img src="http://placehold.it/320x240&text=Ad" /></p>

		    </div>
</div>
{% include footer.html %}
{% include html_end.html %}
