{% include html_head.html %}
{% assign nav = 'left' %}
{% assign nav1 = 'right' %}
{% include main_nav.html %}
<!-- Header -->
<div style="background:#28353d;margin-bottom:40px;">
	<div class="row">
		<div class="large-6 columns small-centered large-centered" style="text-align:center;padding:60px 30px 30px 30px;color:#fff;">

			<h2 style="color:#fff;">{{page.title}}</h2>
			<a class="button radius secondary small" href="#">News Feed</a>
		</div>
	</div>
	
</div>

<!-- End Header -->
<div class="row">    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
		
		<div class="large-12 small-6 columns prose">

             <!--<h4 class="home"	style="background: #0681C4;
				padding: 1em;
				margin-bottom: 1em;
				color: #fff;">IPI News Releases<a class="button radius secondary tiny right" href="#">News Feed</a></h4>-->
			
<!--<article>
             <div class="row">
               <div class="large-12 columns">
                 <h5><a href="#">National Planning Conference 2013</a></h5>
                 <h6 class="subheader show-for-small">Doors at 15:00</h6>
				 <p class="show-for-small">All nominations for the National Planning Awards must be emailed to planningawards@ipi.ie and must also be delivered in hard copy to arrive at the offices of the Irish Planning Institute by July 16th.</p>
               </div>
             </div><hr>
</article>-->
{{ content }}
{% include news_list.html %}

</div>
</div>
		    <!-- Nav Sidebar -->
		    <!-- This is source ordered to be pulled to the left on larger screens -->
		    <div class="large-3 pull-9 columns">
		        <h3 class="home" style="background: #518F9A;
				padding: 1em 0;
				margin-bottom: 0;
				color: #fff;">News</h3>
		      <ul class="side-nav">


		        <li><a href="#">Events Calendar</a></li>
		        <li><a href="#">National Planning Awards 2013</a></li>
		        <li><a href="#">National Planning Conference</a></li>
		        <li><a href="#">Autumn Planning Conference</a></li>
		        <li><a href="#">Submit Event</a></li>
		        <li><a href="#">Section 6</a></li>
		      </ul>

		      <p><img src="http://placehold.it/320x240&text=Ad" /></p>

		    </div>
</div>

{% include footer.html %}
{% include html_end.html %}
