{% include html_head.html %}
{% assign nav = 'left' %}
{% assign nav1 = 'right' %}
{% include main_nav.html %}
<!-- Header -->
<div style="background:#28353d;">
	<div class="row">
		<div class="large-7 columns small-centered large-centered" style="text-align:center;padding:60px 30px 30px 30px;color:#fff;">
			<h3 style="color:#fff;">{{page.title}}</h3>
		</div>
	</div>
	
</div>


<!-- End Header -->
		
<!--		<ul data-orbit data-orbit data-options="bullets:false;resume_on_mouseout:true;" class="home">
		  <li style="height:330px; background:url(http://farm6.staticflickr.com/5455/9151539046_e655389faf_h_d.jpg) center; bakcgroun-size:cover;">
			
		    <div class="row">
				<div class="large-9 columns" style="margin-top:70px; color:#fff;background:rgba(81, 143, 154, .5);padding:20px;">
					<a href="#blah">
					<h2 style="margin-bottom:0;color:#fff;">Representing professional planners in Ireland</h2>
					<p style="color:#fff;margin-bottom:0;">The independent professional body representing the majority of professional planners engaged in physical, spatial and environmental planning in Ireland.</p>
					
					</a>
				</div>
				
			</div>
		    
		  </li>
		  <li style="height:330px; background:url(http://farm8.staticflickr.com/7103/6976469754_46291f77b1_h_d.jpg) center; bakcgroun-size:cover;">
			<div class="row">
				<div class="large-9 columns" style="margin-top:70px; color:#fff;background:rgba(81, 143, 154, .5);padding:20px;">
					<a href="#blah">
					<h2 style="margin-bottom:0;color:#fff;">National Planning Awards 2013 - 2014</h2>
					<p style="color:#fff;margin-bottom:0;">Get your entries in now</p>
					<p style="color:#fff;margin-bottom:0;text-decoration:underline;">Enter Now</p>
					</a>
				</div>
			</div>
		    
		   
		  </li>
		  <li style="height:330px; background:url(http://farm8.staticflickr.com/7390/9149309875_6af4c82078_h_d.jpg) center; bakcgroun-size:cover;">
		    <div class="row">
				<div class="large-9 columns" style="margin-top:70px; color:#fff;background:rgba(81, 143, 154, .5);padding:20px;">
					<a href="#blah">
					<h2 style="margin-bottom:0;color:#fff;">National Planning Awards 2013 - 2014</h2>
					<p style="color:#fff;margin-bottom:0;">Get your entries in now</p>
					<p style="color:#fff;margin-bottom:0;text-decoration:underline;">Enter Now</p>
					</a>
				</div>
			</div>
		  </li>
		</ul>
		-->
		
		
	

<div class="row" style="margin-top:30px;">
		
	</div>
	<div class="row">
		<div class="large-9 push-3 columns">
			<div class="large-12 columns">
			<!--	<h3>{{page.title}}</h3>
				<hr /> -->
			
			<nav class="breadcrumbs" style="margin-bottom:30px;">
			  <a href="#">Home</a>
			  <a href="{{site.baseurl}}/{{page.group}}">{{page.group}}</a>
			  <a class="current" href="{{site.baseurl}}{{page.url}}">{{page.title}}</a>
			</nav>
			
			{{content}}
			</div>
		</div>
	{% assign group_nav = page.group %}
	{% include sidebar.html %}
</div>	

{% include footer.html %}
{% include html_end.html %}

